@model PaginatedList<CodingSoldier.Models.PostViewModel>

@{
    ViewBag.Title = "Posts - Boney Johns";
}

<h2>Posts</h2><br/>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@foreach (var item in Model)
{
        <div class="row">
        <div class="col-md-8">
            <b style="font-size:18px">@Html.Raw(item.PostTitle)</b>
            @if (User.IsInRole("Admin"))
            {
                <text>(</text>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <text>|</text>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { onclick = "return confirm('Are you sure you wish to delete this post?');" })
                <text>)</text>
            }
            <br />
        </div>
    </div>
    <div class="row">        
        <div class="col-md-4 col-lg-12 col-sm-2">
            @if (!string.IsNullOrEmpty(item.PostUrl))
            {
                <pre style="white-space:pre-wrap">@Html.Raw(item.PostContent)</pre>
                <a target="_blank" style="font-weight:600" href="@item.PostUrl">READ MORE</a>                
            }
            else
            {
                <pre style="white-space:pre-wrap">@Html.Raw(item.PostContent)</pre>
            }            
        </div>
    </div>
    <div class="row" style="margin-top:50px">
    </div>
}
<paging current-index="@Model.PageIndex" total-page-count="@Model.TotalPages" paging-url="/posts"></paging>
